/*Исправленный отступ в надзаголовках обложек*/
.t001__uptitle {
    padding-bottom: 0px !important;
    font-size: 12px !important;
}

/*Убрана тень из шрифтов обложки*/
.t910__title, .t910__descr {
    text-shadow: rgb(0, 0, 0) 0px 0px 0px!important;
}

.t910__uptitle {
    color: rgb(256, 256, 256) !important;
}

/* Скругление углов карточек из TE200 на главной*/
/*.t692__blockimg, .t692__blockimg_3-2, .t-bgimg { */
/*    border-radius: 35px !important;*/
/*}*/
.tg {
      font-feature-settings: "case";
}