RewriteEngine On

# Редирект с .ru на .com (только если хост точно mishaivanov.ru)
RewriteCond %{HTTP_HOST} ^mishaivanov\.ru$ [NC]
RewriteRule ^(.*)$ https://mishaivanov.com/$1 [R=301,L]

# Редирект с /js/yp на актуальную версию
# Важно: этот редирект должен срабатывать только если запрос идет на /js/yp точно
RewriteRule ^js/yp/?$ /js/yp/index.php [L]

# Редирект со старых версий на актуальную
RewriteRule ^js/yp/([^0-9].*)$ /js/yp/index.php [L] 