@font-face {
    font-family: Suisse Int'l;
    src: url(Suisse Int'l Medium.woff2);
   }

body {
    font-family: "Suisse Intl", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: aliceblue;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Suisse Intl", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-weight: 500;
    line-height: 1.0;
    width: 50%;
}

h1 {
    font-size: 0.66em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rosybrown;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
    margin: 0.5em 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

p {
    width: 100%;
}

a {
    color: rosybrown;
    text-decoration: none;
    border-bottom: 1px rgba(187, 134, 144, .5) solid;
}

b,
strong {
    font-weight: 600;
}

section {
    margin: 0 0 1em 0;
}

.years {
    font-size: 12px;
    letter-spacing: 1px;
    color: rosybrown;
}

.note {
    margin-top: -18px;
}

.dark {
    margin-top: 3em;
    color: dimgrey;
    font-size: 0.75em;
}

.btn {
    padding: 0 1em 0.1em 1em;
    border-radius: 60px;
    font-size: 1.5em;
    color: #000;
    background-color: rosybrown;
    margin-left: -0.2em;
    margin-right: 0.2em;
}

.btn:hover {
    color: #000;
    background-color: aliceblue;
}

.btn:active {
    color: #000;
    background-color: red;
}

@media screen and (min-width: 601px) {

    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 66%;
    }
}

@media screen and (max-width: 600px) {

    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {

    img,
    video {
        width: 33%;
    }
}

@media screen and (max-width: 600px) {

    img,
    video {
        width: 100%;
    }
}

.alt {
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
}