@font-face {
    font-family: "Suisse Int'l";
    src: url("fonts/Suisse Int'l.woff2") format("woff2"),
            url("fonts/Suisse Int'l.woff") format("woff"),
            url("fonts/Suisse Int'l.ttf") format("truetype");
    font-weight: medium;
    font-style: medium;
   }

body {
    font-family: "Suisse Int'l", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: aliceblue;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Suisse Int'l", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-weight: 500;
    line-height: 1.0;
    width: 50%;
}

h1 {
    font-size: 0.66em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rosybrown;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
    margin: 0.5em 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

p {
    width: 100%;
}

a {
    color: rosybrown;
    text-decoration: none;
    border-bottom: 1px rgba(187, 134, 144, .3) solid;
}

b,
strong {
    font-weight: 600;
}

section {
    margin: 0 0 1em 0;
}

table {
    border-collapse: collapse;
    border: 0px;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 66%;
    line-height: 120%;
}

.table-header:hover {
    color: #fff;
    background-color: rgba(187, 134, 144, .1);
}

td {
    border-top: 1px rgba(187, 134, 144, .15) solid;
    border-bottom: 0px;
    padding: 0.5em 1em 0.5em 0;
    vertical-align: top;    
}

th {
    font-size: 0.66em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: dimgrey;
    padding-right: 1em;
}

th:hover {
    background-color: black;
}

.years {
    font-size: 12px;
    letter-spacing: 1px;
    color: rosybrown;
}

.note {
    margin-top: -18px;
}

.dark {
    margin-top: 3em;
    color: dimgrey;
    font-size: 0.75em;
}

.btn {
    padding: 0 0.6em 2px 0.6em;
    border-radius: 60px;
    font-size: 1.5em;
    line-height: 1.6;
    color: #000;
    background-color: rosybrown;
    margin-left: -0.1em;
    margin-right: 0.1em;
}

.btn:hover {
    color: #000;
    background-color: aliceblue;
}

.btn:active {
    color: #000;
    background-color: red;
}

@media screen and (min-width: 601px) {

    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 66%;
    }
}

@media screen and (max-width: 600px) {

    p,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {

    img,
    video {
        width: 33%;
    }
}

@media screen and (max-width: 600px) {

    img,
    video {
        width: 100%;
    }
}

.alt {
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
}