body {
    font-family: "Suisse Int'l", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Suisse Int'l", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-weight: 500;
    line-height: 1.0;
    width: 60%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

p {
    width: 100%;
}

a {
    color: rgba(187, 134, 144, 1);
    text-decoration: none;
    border-bottom: 1px rgba(187, 134, 144, .3) solid;
}

b,
strong {
    font-weight: 600;
}

img {
    max-width: 50%;
}

.years {
    font-size: 12px;
    letter-spacing: 1px;
    color: rosybrown;
}

.note {
    margin-top: -18px;
}

.dark {
    margin-top: 3em;
    color: dimgrey;
    font-size: 0.75em;
}

/*input {
    background-color: #000;
    padding: 20px 40px 20px 40px;
    border-radius: 60px;
    font-size: 1.5em;
    color: #fff;
    border-color: rosybrown;
    border-style: double;
    transform: skewX(-22.5deg);
}

input:hover {
    background-color: rosybrown;
    color: #fff;
    transform: skewX(22.5deg);
    transition-duration: 0.05s;
}

input:active {
    background-color: red;
    border-color: red;
    color: #000;
    transform: skewX(22.5deg);
}*/

.btn {
    padding: 0px 30px 2px 30px;
    border-radius: 60px;
    font-size: 1.5em;
    color: #fff;
    background-color: rosybrown;
}

.btn:hover {
    color: #000;
    background-color: rosybrown;
}

.btn:active {
    color: #000;
    background-color: red;
}

.contacts {
    padding: 0px 0px 2px 20px;
    font-size: 1.5em;
    line-height: 2;
}

.dagger {
    font-family: "Times New Roman", serif;
}

@media screen and (min-width: 601px) {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {

    .me {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .me {
        max-width: 100%;
    }
}
