body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

canvas {
  max-width: 100%;
  max-height: 100vh;
  /* Отражаем канвас, если требуется эффект зеркала, но это также отразит контент канваса */
  transform: scale(-1, 1);
}
