@font-face {
  font-family: 'OnyTrack';
  src: url('./Ony_Track_VGX.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'OnyTrack', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: left;
}

.container p {
  font-size: 240px;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
}