@font-face {
  font-family: 'Ony Track';
  src: url('https://mishaivanov.ru/js/ony/ony_track/tracklist/font/Ony_Track_VGX.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Ony Track';
}

.tracklist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 40px);
}

.text-line {
  display: block;
  width: 100%;
  white-space: nowrap;
}
