@font-face {
  font-family: 'OnyTrack';
  src: url('./font/Ony_Track_VGX.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'OnyTrack', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: left;
  width: 100%;
}

.line {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 10vw; /* Размер текста зависит от ширины экрана */
  line-height: 1.2;
  font-variation-settings: 'wdth' 100; /* Установим минимальную ширину текста */
  transition: font-variation-settings 0.3s ease;
}