@font-face {
    font-family: 'Ony Track VGX';
    src: url('https://mishaivanov.ru/js/ony/ony_track/face_tracking_01/font/Ony_Track_VGX.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-variation-settings: 'wdth' 400;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
