body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#videoContainer {
    position: relative;
    min-width: 640px;
    min-height: 480px;
}

video, canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

video {
    filter: grayscale(100%);
    opacity: 1; /* Убедитесь, что видео видно */
}

canvas {
    z-index: 10;
}
