body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container {
    aspect-ratio: 1;
    width: min(90vw, 90vh);
    max-width: 1080px;
    max-height: 1080px;
}

#rayCanvas {
    width: 100%;
    height: 100%;
    background-color: black;
} 