RewriteEngine On

# Если запрос идет непосредственно к директории /yp/ без указания версии
RewriteRule ^$ index.php [L]

# Если запрашивается несуществующая страница в /js/yp/, перенаправляем на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Отключаем стандартную страницу 404 для /js/yp/
ErrorDocument 404 /js/yp/index.php

# Разрешаем выполнение PHP-скриптов
<Files "index.php">
    Require all granted
</Files> 