@font-face {
  font-family: 'Angst';
  src: url('https://mishaivanov.ru/fonts/AngstVF.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden; /* Скрыть контент, выходящий за пределы экрана */
}

#text {
  font-family: 'Angst';
  position: absolute;
  top: 50%; /* Начальное положение по вертикали */
  left: 50%; /* Начальное положение по горизонтали */
  font-size: 240px; /* Начальный размер шрифта */
  transform-origin: center; /* Центр вращения */
  white-space: nowrap;
}
