@font-face {
    font-family: 'Angst';
    src: url('https://mishaivanov.ru/fonts/AngstVF.woff2') format('woff2');
    font-weight: 0 1000;
    font-stretch: 50% 151%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Angst', sans-serif;
}
